.DiscordContact {
  position: absolute;
  right: 0px;
  padding: 20px;
  z-index: 5;
}

.DiscordContact a {
  display: inline;
  /* color: white; */
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5vmax;
  text-decoration: none;
}
