.TopNavbar {
  position: fixed;
  /* position: absolute; */
  padding: 20px;
  z-index: 5;
}

a {
  text-decoration: none;
}

.TopNavbar h1 {
  /* color: white; */
  cursor: pointer;
  background: linear-gradient(to right, white 50%, rgba(0, 0, 0, 0) 50%);
  /* background: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0) 50%); */
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.TopNavbar h1:hover {
  color: black;
  /* color: white; */
  background-position: left bottom;
  background-color: gray;
  transition: 0.15s;
}
